:root {
  --fg1: #a3a023;
  --fg: #d400ff;
  --bg: #fff;
  --text: #000;
  --button-text: #fff;
  --fg-tp: rgb(163, 160, 35, 0.8);
  --ff1: "Geneva", "sans-serif";
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: var(--ff1);
  box-sizing: border-box;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-top: 10px;
}

section {
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background-color: var(--fg);
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  color: var(--button-text);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--text);
  margin: 0 10px;
}

h2 {
  text-align: center;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 500px;
  align-items: center;
  margin: 50px 0;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* box-shadow: 1px 1px 5px var(--fg);
  border-radius: 10px; */
}

.article-card {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 3px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.article-card img {
  max-width: 70px;
  height: 70px;
  border-radius: 10px;
}

.design-flex {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.design-flex img {
  width: min(100%, 250px);
  border-radius: 15px;
  margin: 0 auto;
  flex: 1;
}

.services-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.service-card {
  flex: 1;
}

.contact-card {
  flex: 1;
}

.contact-card img {
  width: 10%;
}

.reviews {
  background-image: linear-gradient(var(--bg), var(--fg));
  margin: 0;
  padding: 5% 10%;
  text-align: center;
}

.reviews img {
  width: min(15%, 200px);
  border-radius: 50%;
}

blockquote {
  border: 1.5px solid black;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

form {
  max-width: 40%;
  margin: 0 auto;
}

form input {
  width: 100%;
  border: solid 1px #d4d4d4;
  border-radius: 3px;
  padding: 8px;
  margin: 5px 0;
}

#msg {
  padding-bottom: 80px;
}

footer {
  background-color: var(--fg);
  font-weight: bold;
  padding: 20px 10%;
}
